@import url( http://wshare.u12580.com/css/scroll.css );
body {
	background: rgb(255, 255, 255); font: 12px/1.5 Microsoft YaHei, ??????, tahoma, arial, ????; margin: 0px; padding: 0px; color: rgb(102, 102, 102); font-size-adjust: none; font-stretch: normal;
}
div {
	margin: 0px; padding: 0px;
}
form {
	margin: 0px; padding: 0px;
}
ul {
	margin: 0px; padding: 0px;
}
li {
	margin: 0px; padding: 0px;
}
ol {
	margin: 0px; padding: 0px;
}
p {
	margin: 0px; padding: 0px;
}
h1 {
	margin: 0px; padding: 0px;
}
h2 {
	margin: 0px; padding: 0px;
}
h3 {
	margin: 0px; padding: 0px;
}
h4 {
	margin: 0px; padding: 0px;
}
h5 {
	margin: 0px; padding: 0px;
}
h6 {
	margin: 0px; padding: 0px;
}
img {
	margin: 0px; padding: 0px;
}
dl {
	margin: 0px; padding: 0px;
}
dt {
	margin: 0px; padding: 0px;
}
dd {
	margin: 0px; padding: 0px;
}
table {
	margin: 0px; padding: 0px;
}
tr {
	margin: 0px; padding: 0px;
}
td {
	margin: 0px; padding: 0px;
}
ul {
	list-style-type: none;
}
li {
	list-style-type: none;
}
input {
	font: 12px/16px Microsoft YaHei, ??????, tahoma, arial, ????; font-size-adjust: none; font-stretch: normal;
}
select {
	font: 12px/16px Microsoft YaHei, ??????, tahoma, arial, ????; font-size-adjust: none; font-stretch: normal;
}
img {
	border: 0px currentColor;
}
h1 {
	font-size: 12px; font-weight: 100;
}
h2 {
	font-size: 12px; font-weight: 100;
}
h3 {
	font-size: 12px; font-weight: 100;
}
h4 {
	font-size: 12px; font-weight: 100;
}
h5 {
	font-size: 12px; font-weight: 100;
}
h6 {
	font-size: 12px; font-weight: 100;
}
.tc {
	text-align: center;
}
.t_l {
	text-align: left;
}
.t_r {
	text-align: right;
}
.dis {
	display: block;
}
.undis {
	display: none;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.cl {
	clear: both;
}
.clr {
	height: 0px; line-height: 0px; clear: both; font-size: 0px; visibility: hidden;
}
a:link {
	color: rgb(102, 102, 102);
}
a:visited {
	color: rgb(102, 102, 102);
}
a:active {
	color: rgb(102, 102, 102);
}
a:hover {
	color: rgb(255, 96, 0);
}
table {
	font-size: 12px;
}
.px11 {
	font-size: 11px;
}
.px14 {
	font-size: 14px;
}
.px16 {
	font-size: 16px;
}
.fb {
	font-weight: bold;
}
.lh15 {
	line-height: 150%;
}
.lh18 {
	line-height: 180%;
}
.lh22 {
	line-height: 220%;
}
.Forange {
	color: rgb(255, 51, 0);
}
.Pad_l10 {
	padding-left: 10px;
}
.Farial {
	font-family: arial;
}
.btn_anniu {
	background: url("../img/btn_anniu.gif") no-repeat 0px -23px; border: 0px currentColor; width: 50px; height: 23px; text-align: center; color: rgb(53, 51, 51); line-height: 23px; text-decoration: none; display: inline;
}
.btn_anniu:hover {
	color: rgb(14, 122, 0);
}
.brr {
	border: 1px solid rgb(204, 204, 204);
}
.br10 {
	margin: 0px; padding: 0px; width: 100%; height: 10px; line-height: 10px;
}
.br5 {
	margin: 0px; padding: 0px; width: 100%; height: 5px; line-height: 5px;
}
.coose {
	background: url("../img/anniu_table_Bg.gif") no-repeat; border: 0px currentColor; width: 39px; height: 20px; text-align: center; color: rgb(102, 102, 102); line-height: 20px; text-decoration: none;
}
.coose:hover {
	background-position: 0px -20px; color: rgb(171, 50, 7);
}
.annbg {
	background: url("../img/annbg70.png") no-repeat; border: 0px currentColor; width: 71px; height: 23px; text-align: center; color: rgb(102, 102, 102); line-height: 23px; text-decoration: none; display: block; cursor: pointer;
}
.annbg:hover {
	color: rgb(204, 102, 51); text-decoration: underline;
}
.paging_btn {
	border: 1px solid rgb(225, 232, 237); width: 65px; height: 25px; text-align: center; color: blue; padding-left: 5px; text-decoration: none; display: inherit;
}
.paging_item {
	border: 1px solid rgb(225, 232, 237); width: 25px; height: 25px; text-align: center; color: blue; padding-left: 5px; text-decoration: none; display: inherit;
}
.paging_btn {
	background-color: rgb(235, 235, 235);
}
.paging_item:hover {
	background-color: rgb(235, 235, 235);
}
.paging_item_cur {
	width: 25px; height: 25px; text-align: center; color: rgb(6, 6, 6); padding-left: 5px; font-weight: bold; text-decoration: none; display: inherit; cursor: default;
}
#overlay {
	overflow: auto; background-color: rgb(255, 255, 255);
}
.liketable {
	width: 100%; background-color: rgb(255, 255, 255);
}
.liketable td {
	height: 25px; text-align: left; line-height: 25px;
}
.liketable span {
	margin-left: 3px;
}
.div_Waitloading {
	border: 1px solid rgb(153, 153, 153); left: 38%; top: 40%; width: 228px; font-size: 9pt; display: none; position: absolute; z-index: 300; background-color: white;
}
.div_Waitloading span {
	color: blue;
}
.fm {
	color: red; padding-left: 2px;
}
.smm_list_bor {
	border: 1px solid rgb(204, 204, 204); text-align: center;
}
.smm_item_bor {
	border: 1px solid rgb(204, 204, 204); text-align: center;
}
.top_bor {
	border-top-color: rgb(204, 204, 204); border-top-width: 1px; border-top-style: solid;
}
.bottom_bor {
	border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
.head_unit {
	background: url("../img/head_bgx.gif") repeat-x 0px 0px rgb(255, 255, 255); width: 100%; height: 35px;
}
.sn {
	color: rgb(77, 76, 76); font-size: 14px; margin-left: 8px;
}
.head_dl {
	background: url("../img/head_bgx.gif") repeat-x 0px 0px rgb(255, 255, 255); margin: 0px; padding: 0px; width: 100%; height: 35px; border-top-color: rgb(153, 153, 153); border-top-width: 1px; border-top-style: solid;
}
.head_tit {
	background: url("http://wshare.u12580.com/img/icon-n/operation_img.png") repeat-x 0px -102px; border-width: 1px 0px; border-style: solid; border-color: rgb(187, 187, 187); width: 100%; height: 28px;
}
.head_tit td.first {
	padding-left: 0px; background-image: none;
}
.head_tit td {
	background: url("../img/inx.gif") no-repeat 0px -49px; padding: 2px 0px 2px 5px; color: rgb(51, 51, 51); line-height: 18px;
}
.head_min {
	background: url("../img/head_bgx.gif") repeat-x 0px -80px rgb(240, 240, 240); width: 100%; height: 28px; border-top-color: rgb(153, 153, 153); border-bottom-color: rgb(153, 153, 153); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
.head_min td.first {
	padding-left: 0px; background-image: none;
}
.head_min td {
	background: url("../img/inx.gif") no-repeat 0px -49px; padding: 2px 0px 2px 5px; line-height: 20px; font-weight: bold;
}
.listtable {
	width: 100%;
}
.listtable td {
	padding: 2px 0px 2px 5px; line-height: 22px;
}
.listtable td.first {
	padding-left: 0px;
}
.minitable {
	width: 100%;
}
.minitable td {
	padding: 0px 0px 0px 5px; line-height: 22px;
}
.minitable td.first {
	padding-left: 0px;
}
.list_summ {
	height: 32px;
}
.list_summ_at {
	height: 32px; background-color: rgb(240, 237, 237);
}
.ln {
	color: rgb(13, 92, 172); font-weight: bolder;
}
.cct {
	width: 138px; height: 20px; line-height: 20px;
}
.zlay_holdlist {
	border: 1px solid rgb(129, 127, 130); float: left; display: none; position: absolute; z-index: 199; background-color: rgb(255, 255, 255);
}
.paddleft {
	margin-left: 5px;
}
.paddright {
	margin-right: 5px;
}
.footBtn {
	background-color: rgb(233, 234, 236);
}
.alink {
	color: rgb(13, 92, 172); text-decoration: none;
}
.alink:hover {
	text-decoration: underline;
}
.btn_search {
	background: url("../img/btn_search_list.png") no-repeat; border: 0px currentColor; width: 70px; height: 30px; cursor: pointer;
}
.btn_search:hover {
	background-position: 0px -30px;
}
.Wdate1 {
	background: url("../UserControls/DatePicker/skin/datePicker.gif") no-repeat right rgb(255, 255, 255); border: 1px solid rgb(153, 153, 153); width: 130px; height: 18px;
}
.rb1 {
	background: url("../img/pub_btn.png") no-repeat 0px 0px; border: 0px currentColor; width: 58px; height: 27px; color: rgb(255, 255, 255); line-height: 26px; padding-bottom: 3px; font-size: 14px; cursor: pointer;
}
.rb1:hover {
	background: url("../img/pub_btn.png") no-repeat 0px -27px; border: 0px currentColor; width: 58px; height: 27px; color: rgb(255, 255, 255); font-size: 14px; cursor: pointer;
}
.annbg_er {
	background: url("../img/monitor_btn.png") no-repeat; border: 0px currentColor; width: 71px; height: 23px; text-align: center; color: rgb(102, 102, 102); line-height: 23px; text-decoration: none; display: block; cursor: pointer;
}
.annbg:hover {
	color: rgb(204, 102, 51); text-decoration: underline;
}
.putxt {
	background: url("../App_Themes/images/input.png") no-repeat 0px 0px white; border: 1px solid rgb(86, 180, 119);
}
.putarea {
	background: url("../App_Themes/images/input.png") no-repeat 0px 0px white; border: 1px solid rgb(86, 180, 119);
}
.putxt {
	width: 130px; height: 18px; line-height: 18px;
}
.putarea {
	width: 423px; height: 40px;
}
.btn48x24Blue {
	border: 0px currentColor; text-align: center; color: rgb(255, 255, 255); display: inline-block; cursor: pointer; background-image: url("http://wshare.u12580.com/img/icon-n/btn.png");
}
.btn62x24Blue {
	border: 0px currentColor; text-align: center; color: rgb(255, 255, 255); display: inline-block; cursor: pointer; background-image: url("http://wshare.u12580.com/img/icon-n/btn.png");
}
.btnBigBlue {
	border: 0px currentColor; text-align: center; color: rgb(255, 255, 255); display: inline-block; cursor: pointer; background-image: url("http://wshare.u12580.com/img/icon-n/btn.png");
}
.btnBigYellow {
	border: 0px currentColor; text-align: center; color: rgb(255, 255, 255); display: inline-block; cursor: pointer; background-image: url("http://wshare.u12580.com/img/icon-n/btn.png");
}
.btn48x24Blue {
	background-position: 0px -44px; width: 48px; height: 24px;
}
.btn48x24Blue:hover {
	background-position: 0px -68px;
}
.btn62x24Blue {
	background-position: -48px -44px; width: 62px; height: 24px;
}
.btn62x24Blue:hover {
	background-position: -48px -68px;
}
.btnBigBlue {
	background-position: 0px -92px; width: 76px; height: 32px; font-size: 14px;
}
.btnBigBlue:hover {
	background-position: 0px -124px;
}
.btnBigYellow {
	background-position: -76px -92px; width: 76px; height: 32px; font-size: 14px;
}
.btnBigYellow:hover {
	background-position: -76px -124px;
}
.iconOperators {
	width: 16px; height: 16px; display: inline-block; cursor: pointer; background-image: url("http://wshare.u12580.com/img/icon-n/layer.png");
}
.iconDealer {
	width: 16px; height: 16px; display: inline-block; cursor: pointer; background-image: url("http://wshare.u12580.com/img/icon-n/layer.png");
}
.iconUnit {
	width: 16px; height: 16px; display: inline-block; cursor: pointer; background-image: url("http://wshare.u12580.com/img/icon-n/layer.png");
}
.iconPersonal {
	width: 16px; height: 16px; display: inline-block; cursor: pointer; background-image: url("http://wshare.u12580.com/img/icon-n/layer.png");
}
.iconOperators {
	
}
.iconDealer {
	background-position: 0px -16px;
}
.iconUnit {
	background-position: 0px -32px;
}
.iconPersonal {
	background-position: 0px -48px;
}
.user-tree {
	background: url("../img/treeIcon.png") no-repeat; margin: 0px 5px; border: 0px currentColor; width: 20px; height: 20px; text-decoration: none; vertical-align: middle; display: inline-block;
}
